body {
    font-family: sans-serif;
}
header a{
    background-color: rgb(18, 6, 109) ;
    padding: 7px;
    color:white ;
    border-radius: 20px;
    text-decoration:none ;
}

header b{
    color:rgb(255, 0, 0);
}
h1 {
    color:rgb(37, 2, 151);
    text-align: center;
    background-color: rgb(255, 0, 0);
}
footer {
    background-color: black;
    color:white;
    padding: 2px;
}
footer p{
    border: 3px solid white;
    padding: 4px;
}
nav a{
    color:white;
    background-color: rgb(37, 2, 151);
    padding: 5px;
    border-radius: 20px;
    margin: 2px;
    text-decoration: none;
}
nav {
    margin: 7px;
}
.pr {
    background-color: rgb(204, 3, 3);
    border: solid rgb(0, 0, 255);
    border-radius: 7px;
    padding: 5px;
}
.h{
   background-color: rgb(255, 255, 255);
   padding: 7px;
   border-radius: 12px;
   color: rgb(255, 255, 255);
   text-decoration: none;
}
h2 {
    text-align: center;
}

